<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">资源授权</h4>
    </div>
    <form w5c-form-validate="" novalidate name="customerForm">
        <div class="modal-body">
            <ul id="resourceTree" class="ztree"></ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">取消</button>
            <button type="button" class="btn btn-primary" w5c-form-submit="confirm()">保存</button>
        </div>
    </form>
</div>