<div>
    <div class="action-bar">
        <div class="form-inline">
            <div class="form-group">
                <label for="exampleInputName1">角色编号</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="00001" ng-model="role.id">
            </div>
            <button type="submit" class="btn btn-default" ng-click="find()">搜索</button>
            <button class="btn btn-primary" ng-click="toAdd()">新增</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>角色编号</th>
                <th>角色名</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="(id,data) in result.map">
                <td>{{data.id}}</td>
                <td>{{data.name}}</td>
                <td>
                    <a href="javascript:" ng-click="toUpd(data)">修改</a>
                    <a href="javascript:" ng-click="del(data.id)">删除</a>
                    <a href="javascript:" ng-click="toAuth(data.id)">授权</a>
                </td>
            </tr>
        </table>
        <div class="pagination-bar">
            <uib-pagination
                    total-items="result.page.total"
                    ng-model="result.page.current"
                    max-size="2"
                    items-per-page="result.page.pageSize"
                    first-text="第一页"
                    previous-text="上一页"
                    next-text="下一页"
                    last-text="最后页"
                    boundary-links="true"
                    boundary-link-numbers="true"
                    ng-model="result.page.current"
                    ng-change="onPageChange()"
            ></uib-pagination>
        </div>

    </div>
</div>
