<link rel="stylesheet" href="pages/eams/style/tag.css">
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">更新记录</h4>
    </div>
    <form w5c-form-validate="" novalidate name="customerForm">
        <div class="modal-body">
            <div class="form-horizontal">

                <div class="form-group">
                    <label for="envs" class="control-label col-md-3">envs:</label>
                    <div class="col-md-6 server-tags" name='envs'>
                        <!-- <input type="checkbox" ng-model="envs[{{id}}]" class="form-control" ng-repeat="(id,env) in envs"/> -->

                        <div class="server-tag" ng-repeat="(id,env) in envs" data-id="{{id}}">
                            <input type="checkbox" ng-model="env.checked"/>
                            <span>
                                {{env.name}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="apps" class="control-label col-md-3">apps:</label>
                    <div class="col-md-6 server-tags" name="apps">
                        <div class="server-tag" ng-repeat="(id,app) in apps" data-id="{{id}}">
                            <input type="checkbox" ng-model="app.checked"/>
                            <span>
                                {{app.name}}
                            </span>
                        </div>
                        <!-- <input type="checkbox" ng-model="apps[{{id}}]" class="form-control" ng-repeat="(id,app) in apps"/> -->
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">取消</button>
            <button type="button" class="btn btn-primary" w5c-form-submit="confirm()">保存</button>
        </div>
    </form>
</div>