<div>
    <div class="action-bar">
        <div class="form-inline">
            <div class="form-group">
                <label for="ip">ip地址</label>
                <input name="ip" type="text" class="form-control" placeholder="00001" ng-model="server.ip">
            </div>
            <div class="form-group">
                <label for="envs">envs</label>
                <input name="envs" type="text" class="form-control" placeholder="env1,env2..." ng-model="$envs">
            </div>
            <div class="form-group">
                <label for="apps">apps</label>
                <input name="apps" type="text" class="form-control" placeholder="app1,app2..." ng-model="$apps">
            </div>
            <button type="submit" class="btn btn-default" ng-click="find(1)">搜索</button>
            <button class="btn btn-primary" ng-click="findStatus()">刷新</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>ip</th>
                <th>host</th>
                <th>envs</th>
                <th>apps</th>
                <th>alive_time</th>
                <th>memsize</th>
                <th>cpu_core</th>
                <th>cpu usage</th>
                <th>disk usage</th>
                <th>memory usage</th>
                <th>progress</th>
                <th>ops</th>
            </tr>
            <tr ng-repeat="(ip,data) in result.map" >
                <td>{{data.ip}}</td>
                <td>{{data.host}}</td>
                <td>
                    <span ng-repeat="id in data.envs">{{envs[id].name}} </span>
                </td>
                <td>
                    <span ng-repeat="id in data.apps">{{apps[id].name}} </span>
                </td>
                <td>{{getAliveTime(data)}}</td>
                <td>{{data.memory}} G</td>
                <td>{{data.cpus.length}}</td>
                <td>{{data.status.cpu ? data.status.cpu+'%': ""}}</td>
                <td>{{data.status.disk ? data.status.disk+'G': ""}}</td>
                <td>{{data.status.memory ? data.status.memory+'G':''}}</td>
                <td>{{data.status.processes}}</td>
                <td>
                    <a href="javascript:" ng-click="detail(data)">详情</a>
                    <a href="javascript:" ng-click="getStatus(data)">刷新</a>
                    <a href="javascript:" ng-click="toUpd(data)">更新</a>
                    <a href="javascript:" ng-click="del(data)">删除</a>
                </td>
            </tr>
        </table>
        <div class="pagination-bar">
            <uib-pagination
                    total-items="result.page.total"
                    ng-model="result.page.current"
                    max-size="2"
                    items-per-page="result.page.pageSize"
                    first-text="第一页"
                    previous-text="上一页"
                    next-text="下一页"
                    last-text="最后页"
                    boundary-links="true"
                    boundary-link-numbers="true"
                    ng-model="result.page.current"
                    ng-change="onPageChange()"
            ></uib-pagination>
        </div>

    </div>
</div>
