<div>
    <div class="action-bar">
        <div class="form-inline">
            <div class="form-group">
                <label for="exampleInputName1">ip地址</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="00001" ng-model="server.ip">
            </div>
            <button type="submit" class="btn btn-default" ng-click="find()">搜索</button>
            <button class="btn btn-primary" ng-click="findStatus()">刷新</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>ip地址</th>
                <th>host地址</th>
                <th>上次开机时间</th>
                <th>内存大小</th>
                <th>cpu内核数量</th>
                <th>网络接口数量</th> 
                <th>运行状态</th> 

                <th>操作</th>
            </tr>
            <tr ng-repeat="(ip,data) in result.map" >
                <td>{{data.ip}}</td>
                <td>{{data.host}}</td>
                <td>{{data.startAt}}</td>
                <td>{{data.memory}} G</td>
                <td>{{data.cpus.length}}</td>
                <td>{{data.interfaces.length}}</td>
                <td>
                    <a ng-show="data.status" href="javascript:" ng-click="toShowStatus(data)">在线</a>
                    <span ng-hide="data.status">下线</span>
                </td>
                <td>
                    <!-- <a href="javascript:" ng-click="getStatus(data)">状态</a> -->
                    <a href="javascript:" ng-click="detail(data)">详情</a>
                    <a href="javascript:" ng-click="del(data.ip)">删除</a>
                </td>
            </tr>
        </table>
        <div class="pagination-bar">
            <uib-pagination
                    total-items="result.page.total"
                    ng-model="result.page.current"
                    max-size="2"
                    items-per-page="result.page.pageSize"
                    first-text="第一页"
                    previous-text="上一页"
                    next-text="下一页"
                    last-text="最后页"
                    boundary-links="true"
                    boundary-link-numbers="true"
                    ng-model="result.page.current"
                    ng-change="onPageChange()"
            ></uib-pagination>
        </div>

    </div>
</div>
