<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{stu.id ? "更新":"新增"}}记录</h4>
    </div>
    <form w5c-form-validate="" novalidate name="customerForm">
        <div class="modal-body">
            <div class="form-horizontal">
                
                <div class="form-group">
                    <label for="message-text" class="control-label col-md-3">学生姓名:</label>
                    <div class="col-md-6">
                        <input class="form-control" ng-model="stu.name" required ng-maxlength="20" name="name" id="message-text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">学生年龄:</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="stu.age" class="form-control" required name="age" pattern="^\d{1,2}$" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">学生性别:</label>
                    <div class="col-md-6">
                        <!-- <input type="text" ng-model="stu.genger" class="form-control"> -->
                        <select class="form-control" ng-model="stu.gender" required name="gender" ng-options="x for x in gender">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">取消</button>
            <button type="button" class="btn btn-primary" w5c-form-submit="confirm()">保存</button>
        </div>
    </form>
</div>
