<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{user.id ? "更新":"新增"}}记录</h4>
    </div>
    <form w5c-form-validate="" novalidate name="customerForm">
        <div class="modal-body">
            <div class="form-horizontal">
                
                <div class="form-group">
                    <label for="message-text" class="control-label col-md-3">用户编号:</label>
                    <div class="col-md-6">
                        <input class="form-control" ng-model="user.id"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">用户名:</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="user.name" class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">用户密码:</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="user.pwd" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">用户部门:</label>
                    <div class="col-md-6">
                        <select type="text" ng-model="user.dept_id" class="form-control" >
                            <option value="-1" selected>--- 请选择 ---</option> 
                            <option ng-repeat="(id,dept) in depts" value="{{id}}">{{dept.name}}</option> 
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">取消</button>
            <button type="button" class="btn btn-primary" w5c-form-submit="confirm()">保存</button>
        </div>
    </form>
</div>
