<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="close()"><span>&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">{{dept.id ? "更新":"新增"}}记录</h4>
    </div>
    <form w5c-form-validate="" novalidate name="customerForm">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3">部门名字:</label>
                    <div class="col-md-6">
                        <input type="text" ng-model="dept.name" class="form-control" name="name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-3">上级部门:</label>
                    <div class="col-md-6">
                        <select name="pid" ng-model="dept.pid" class="form-control" ng-init="dept.pid = dept.pid+''||'-1'">
                            <option value="-1" ng-selected="1">--- 请选择 ---</option>
                            <option ng-repeat="(id,dp) in depts" value="{{id}}">{{dp.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="close()">取消</button>
            <button type="button" class="btn btn-primary" w5c-form-submit="confirm()">保存</button>
        </div>
    </form>
</div>
