.login-page{
    background: #1596b8;
    height: 100%;
    padding-top: 100px;
}
.login-form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    margin-left: -175px;
    margin-top: -200px;
    border: 10px solid #148baf;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
}
.login-logo{
    text-align: center;
    font-size: 26px;
    padding: 20px 0;
}