html,body,.page-container{
    height: 100%;
}
.page{
    padding: 0;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}
.page-content{
    padding: 15px;
    background: #fff;
    margin: 15px;
    border-radius: 4px;
}

.header{
    background: #414667;
    height: 60px;
    line-height: 60px;
    color: #fff;
    padding-left: 15px;
    padding-right: 15px;
}
.header .exit{
    float: right;
    margin-top:10px;
}
.header .exit>i{
    font-size: 1.5em;
}
.dropdown-menu{right: 0;left: auto;}
.layer-left,.layer-right{
    height: 100%;
    padding: 0;
    background: #f0f0f0;
}
.layer-left{
    background: #343843;
}
/**菜单**/
.secondmenu{
    background: #15161b;
}
.secondmenu li a{
    padding-left: 40px;
}
.secondmenu .active a{
    background: #fff;
}
.nav-tabs{
    border-width: 0;
}
.nav-tabs>li>a{
    border-radius: 0;
    margin:0;
    border: none;
}
/**面包屑**/
.breadcrumb{
    background: #fff;
    border-radius: 0;
}
/**列表**/
.action-bar{
    margin-bottom: 15px;
}
.pagination-bar{
    text-align: right;
}
.table th{
    background: #f9f9f9;
}